<!--Helps Us avoid copying and pasting the code below since it must be rendered in all the pages-->
<!--We use a dynamic URL we wish to delete to-->
<form method="POST" action="<%= url %>?_method=DELETE">
  <button class="btn btn-danger" type="submit">Delete</button>
</form>