<h2>New Book</h2>
<!--Put Inside Form when there is a specific method the server needs to know about-->
<form action="/books" method="POST">
  <%- include('_form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>